<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xeus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xeus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <xeus.Properties.Settings>
            <setting name="Roster_MaximumMessagesToLoad" serializeAs="String">
                <value>40</value>
            </setting>
        </xeus.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <xeus.Properties.Settings>
            <setting name="Client_IdleMinutesAway" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Client_IdleMinutesXA" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Client_UserName" serializeAs="String">
              <value>steelspace</value>
            </setting>
            <setting name="Client_Password" serializeAs="String">
              <value>hardcore</value>
            </setting>
            <setting name="Client_Server" serializeAs="String">
              <value>jabber.linuxlovers.at</value>
            </setting>
            <setting name="UI_RosterSlider" serializeAs="String">
                <value>80</value>
            </setting>
        </xeus.Properties.Settings>
    </userSettings>
</configuration>

